img {
  border-width: 0;
}

body {
  color: #fff;
  background-color: #000;
}

a {
  text-decoration: none;
  color: #ffa531;
  font-family: courier;
  font-size: 100%;
}

a:hover {
  text-decoration: underline;
}

table {
  border: 0 solid;
  border-spacing: 0;
  padding: 0;
}

td {
  padding: 5px;
  text-align: left;
  vertical-align: top;
}
